.cabecalho
{background-color: blueviolet;
}
h1 {
    text-align: center;
}
h2 {
    background-color: aquamarine;
}
.imagem {
    width: 20px;
    background-image:-moz-linear-gradient(#383d58) ;
}
p {
    font-size: 30px;
} 
.paragrafos 
{ 
    font-size: 30px;
}
footer{
 background-color: black;
}